# Dit vertelt Replit welke taal en welke file hij moet starten
run = "python3 test_api.py"

language = "python3"

# Optioneel: geef aan waar je packages staan
[packager]
packages  ["ccxt"]

# Dit stuk is optioneel maar handig als Replit vraagt om dependencies
[unit_tests]
